.root {
    composes: relative from global;
}

.topBar {
    composes: bg-gray-900 from global;
}

.topBarInner {
    composes: max-w-7xl from global;
    composes: mx-auto from global;
    composes: h-10 from global;
    composes: px-4 from global;
    composes: flex from global;
    composes: items-center from global;
    composes: justify-between from global;
    composes: sm_px-6 from global;
    composes: lg_px-8 from global;
}

.topLeft {
    composes: hidden from global;
    composes: lg_block from global;
    composes: lg_flex-1 from global;
}

.topCenter {
    composes: flex-1 from global;
    composes: text-center from global;
    composes: text-sm from global;
    composes: font-medium from global;
    composes: text-white from global;
    composes: lg_flex-none from global;
}

.topRight {
    composes: hidden from global;
    composes: lg_flex from global;
    composes: lg_flex-1 from global;
    composes: lg_items-center from global;
    composes: lg_justify-end from global;
    composes: lg_space-x-6 from global;
}

.mainBar {
    composes: bg-white from global;
}

.mainBarInner {
    composes: max-w-7xl from global;
    composes: mx-auto from global;
    composes: px-4 from global;
    composes: sm_px-6 from global;
    composes: lg_px-8 from global;
}

.containerWrapper {
    composes: border-b from global;
    composes: border-gray-200 from global;
}

.container {
    composes: h-16 from global;
    composes: flex from global;
    composes: items-center from global;
    composes: justify-between from global;
}

.logoContainer {
    composes: hidden from global;
    composes: lg_flex from global;
    composes: lg_items-center from global;
}

.secondaryMenu {
    composes: flex-1 from global;
    composes: flex from global;
    composes: items-center from global;
    composes: justify-end from global;
}
