.root {
    composes: appearance-none from global;
    composes: block from global;
    composes: w-full from global;
    composes: px-3 from global;
    composes: py-2 from global;
    composes: border from global;
    composes: border-gray-300 from global;
    composes: rounded-md from global;
    composes: shadow-sm from global;
    composes: placeholder-gray-400 from global;
    composes: focus_outline-none from global;
    composes: focus_ring-indigo-500 from global;
    composes: focus_border-indigo-500 from global;
    composes: sm_text-sm from global;
}
