@tailwind components;

.root {
    composes: h-full from global;
    composes: flex from global;
    composes: justify-center from global;
    composes: px-4 from global;
}

.link {
    composes: flex from global;
    composes: items-center from global;
    composes: text-sm from global;
    composes: font-medium from global;
    composes: text-gray-700 from global;
    composes: border-b-2 from global;
    composes: border-transparent from global;
    composes: hover_text-indigo-600 from global;
    composes: hover_border-indigo-600 from global;
}

.anchor {
    composes: h-full from global;
    composes: flex from global;
    composes: items-center from global;
    composes: px-4 from global;
}

.dropdown {
    composes: hidden from global;
    composes: absolute from global;
    composes: top-full from global;
    composes: inset-x-0 from global;
    composes: text-gray-500 from global;
    composes: sm_text-sm from global;
    composes: z-50 from global;
}

@layer components {
    .link:hover .dropdown:not(.hideDropdown) {
        @apply block;
    }
}
